bin/
obj/
out/
Debug/
Release/

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

.vscode/
*.code-workspace

.idea/

*.nupkg
*.snupkg
*.nuspec
packages/
*.psmdcp
project.lock.json

*.log

.DS_Store
Thumbs.db

*.tmp
*.temp
